* {
    margin: 0;
    border: border-box;
    background-color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
}

/** Header**/
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
.nav-panel {
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-box1 {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.bars {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
    margin-left: 13px;
    margin-right: 10px;
    color: white;
}
.bars:hover {
    background-color: grey;
    animation-name: myHover;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.bars:not(:hover) {
    animation-name: myHover-reverse;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.youtube-logo {
    height: 80%;
    width: 120px;
    background-image: url("youtube_logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
.nav-box2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    width: 520px;
    height: 40px;
    border:1px solid grey;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: white;
    font-size: 1rem;
}
.search-logo {
    width: 64px;
    height: 43.6px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.search-logo i {
    color: white;
    background-color: grey;
    font-size: 1.35rem;
}
.audio-search {
    background-color: rgb(70, 70, 70);
    height: 43.6px;
    width: 43.6px;
    border-radius: 50%;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
}
.buttons:hover {
    animation-name: myHover;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.buttons:not(:hover) {
    animation-name: myHover-reverse;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.audio-search:hover {
    background-color: grey;
}

.nav-box3 {
    width:225px;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.upload {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
    
}
.alerts {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
    
}
.profile-pic {
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem; 
}

/** Main Body **/
.main-body {
    display: flex;
    color: white;
    
    
}
.menu-bar {
    height: 100vh;
    width: 221px;
    margin-top: 56px; 
    
    
}
.content-area {
    height: 200vh;
    width: 100%;
    margin-top:56px;
    margin-left:223px
    
}
.menu-box1 {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid rgb(163, 163, 163);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.box1 {
    width: 100%;
    height: 50px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    
}
.box1 i{
    margin-left: 1.2vw;
    font-size: 1.35rem;
}
.box1:hover {
    background-color: grey;
    animation-name: myHover;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.box1:not(:hover) {
    animation-name: myHover-reverse;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
h3 {
    margin-top: 2%;
    margin-left: 15%;
    background-color: transparent;
}

.menu-box2 {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid rgb(163, 163, 163);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/** CONTENT AREA **/
.upper-tags {
    margin-top: 20px;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 56px;
    right: 0;
}
.tags {
    height: 35px;
    width: 85px;
    background-color: rgb(70, 69, 69);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;

}
.tags:hover {
    animation-name: tagsHover;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.tags:not(:hover) {
    animation-name: tagsHover-reverse;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.videos-area {
    width: 100%;
    height: 100%;
    /* border: 1px solid white;; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;
}
.video-container {
    width: 360px;
    height: 303px;
    
}
.thumbnail {
    height: 203px;
    /* border: 1px solid white; */
    border-radius: 15px;
    background-size: cover; 
    background-repeat: no-repeat;
}
.video-info {
    
    height: 100 px;
    display: flex;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    

}
.channel-icon {
    height: 36px;
    width: 36px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
}
.channel-info {
    height: 100px;
    /* border: 1px solid white; */
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.video-name {
    height: 44px;
    margin-top: 5px;
    /* border: 1px solid red; */
}
.channel-name {
    height: 20px;
    /* border: 1px solid pink; */
    margin-top: 7px;
}
.upload-time {
    height: 20px;
    /* border: 1px solid yellow; */
}
@keyframes tagsHover {
    from {
        background-color: rgb(70, 69, 69);
    }
    to {
        background-color: grey;
    }
}
@keyframes tagsHover-reverse {
    from {
        background-color: grey;
    }
    to {
        background-color: rgb(70, 69, 69);
    }
}
@keyframes myHover {
    from {
        background-color: #0f0f0f;
    }
    to {
        background-color: grey;
    }
}
@keyframes myHover-reverse {
    from {
        background-color: grey;
    }
    to {
        background-color: #0f0f0f;
    }
    
}